.topic-post.comment {
  padding-left: 50px;
  margin-left: 60px;
  max-width: 647px;

  .topic-avatar {
    width: 30px;
  }

  .topic-body {
    width: calc(100% - 30px);
    padding: 10px 0 10px 0;

    .regular {
      margin-top: 0;

      p {
        margin: 0;
      }

      .post-controls .actions > *:not(.like):not(.double-button) {
        display: none;
        transition: .5s all;
      }

      .post-menu-area {
        margin: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: $secondary;
      }
    }

    .post-actions {
      margin: 0;
    }
  }

  &:hover .topic-body .regular .post-controls .actions > * {
    display: inline-block !important;
  }
}

.topic-journal-page {
  .topic-map .map li:nth-child(4) {
    text-align: center;
  }
}

.time-gap + .topic-post.entry, .time-gap + .topic-post.comment {
  .topic-avatar, .topic-body {
    border-top: 1px solid $primary-low;
  }
}

.topic-post.entry + .time-gap, .topic-post.comment + .time-gap {
  display: none;
}
