.topic-post.comment {
  padding-left: 20px;
  margin-left: 10px;

  .topic-body {
    .topic-meta-data {
      margin-left: 30px;
    }

    .regular {
      margin-top: 0;
    }

    .post-menu-area {
      margin: 0;

      nav {
        text-align: right;
      }
    }
  }
}

.topic-journal-page nav.post-controls .actions {
  justify-content: flex-end;

  button {
    flex: unset;
  }
}

.time-gap + .topic-post.comment article {
  border-top: 1px solid $primary-low;
}