body.journal-category {
  table.topic-list {
    th.posts,
    td.posts {
      display: none;
    }
  }
}

.topic-journal {
  .time-gap,
  nav.post-controls .show-replies,
  .topic-timeline .reply-to-post,
  .topic-timeline .timeline-ago,
  .topic-timeline .back-button,
  .topic-timeline .timeline-last-read {
    display: none;
  }

  .topic-timeline .timeline-entries {
    position: absolute;
    top: 0;
    height: inherit;
    left: -40px;

    .entries-title {
      position: absolute;
      top: -30px;
      left: -50px;
      color: var(--primary-med-or-secondary-med);

      span {
        white-space: nowrap;
      }
    }

    .entry-list {
      height: 100%;
    }
  }

  .topic-timeline .entry-marker {
    position: absolute;
    width: 15px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--primary-medium);

    &.active,
    &:hover {
      border: 1px solid var(--tertiary-high);
      z-index: 1;
    }

    &.active {
      background-color: var(--tertiary-high);
    }

    span {
      position: absolute;
      top: -10px;
      left: -25px;
    }
  }

  .timeline-container.timeline-fullscreen .topic-timeline {
    .post-excerpt {
      width: 600px;
    }

    .timeline-entries {
      left: -60px;

      .entries-title {
        display: none;
      }
    }
  }

  .topic-body .reply-to-tab {
    cursor: initial;
  }
}

nav.post-controls button.comment {
  font-size: 1em;
}

div.topic-post {
  &.comment {
    display: none;
    border-left: 2px solid $primary-low;

    &.show {
      display: block;
    }

    .avatar-flair {
      width: 12px;
      height: 12px;
      right: 16px;

      i {
        font-size: 8px;
      }
    }

    .topic-body {
      .topic-meta-data {
        padding: 0 5px 0.25em 11px;
      }

      .cooked {
        padding-top: .25em;
      }

      .post-controls .actions {
        display: inline-flex;

        button {
          font-size: 0.9em;
          padding: 6px;

          &.create {
            margin-left: 0;

            .d-icon {
              margin-right: 0;
            }
          }

          &.bookmark {
            display: none;
          }
        }
      }

      .who-liked,
      .who-read {
        position: absolute;
        background-color: $secondary;
        box-shadow: shadow('dropdown');
        right: 0;
        margin: 0;
        z-index: 1;
        padding: .5em 1em;
        border-top: 1px solid $primary-low;
      }
    }

    + .topic-post.entry {
      margin-top: 30px;
    }
  }

  &.comment, &.entry {
    .post-notice.new-user {
      display: none;
    }
  }
}

.show-comments {
  margin-bottom: 10px;
  display: inline-block;
}

.entry .show-comments {
  padding-left: 105px;
}

.journal-topic-tip {
  position: relative;
  margin-top: 5px;
  
  .btn-topic-tip {
    padding: 3px 6px;
    font-size: .8706em;
  }

  .tip-details {
    background-color: dark-light-diff($primary, $secondary, 95%, -85%);
    box-shadow: shadow('dropdown');
    padding: 10px 15px;
    position: absolute;
    top: 25px;
    z-index: 9999;
    width: 300px;

    p {
      margin: 0;
    }

    ul {
      margin-bottom: 0;
    }

    li {
      margin: 2px 0;
    }
  }
}

html.rtl {
  .topic-post.comment {
    padding-left: 0;
    padding-right: 110px;
  }
}
